<header>
    {{> header}}
</header>
<main class="quiz">
    <p>{{ question }}</p>
    <section>
        {{#each answers}}
            <button value="{{ this }}">{{ this }}</button>
        {{/each}}
    </section>
    <p id="feedback"></p>

    <a href="/quiz" class="button">Next question</a>
</main>