<header>
    {{> header}}
</header>
<main class="room">
    <h1>Hi {{username}}, you are in room {{roomNumber}}!</h1>
    <p>Share this number to invite your friends for a game of BrainBattle!</p>

    <section>
      <ul></ul>
      <p></p>
      <form>
        <fieldset>
          <input type="text" placeholder="Message" id="message" autocomplete="off">
          <button id="send"><span>Send</span></button>
        </fieldset>
      </form>
    </section>
</main>