<header>
    {{> header}}
</header>
<main class="room">
    <h1>Hi {{username}}, you are in room {{roomNumber}}!</h1>
    <p>Share this number with your friends to invite them for a game of BrainBattle!</p>
</main>