/*************/
/* FONTS */
/*************/
@import url("https://use.typekit.net/myy2iyg.css");

/*************/
/* CSS RESET */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --background-color: #EFEEFC;
    --inputFields-color: #fff;
    --text-color: #000000;
    --placeholdetText-color: #A0A0A0;
    --accent-color: #6A5AE0;
}



/**************/
/*** BASICS ***/
/**************/
html {
    background-color: var(--background-color);
    font-family: "omnes-georgian",sans-serif;
}

body{
    width: 100vw;
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem;
}

fieldset{
    display: block;
}

fieldset>legend {
    opacity: 0;
}

fieldset>button {
    background-color: var(--accent-color);
    color: var(--inputFields-color);
    padding: 0.5em 1em;
    width: 100%;
    border-radius: 1rem;
}

fieldset>button:hover {
    background-color: #5b4ad8;
}


.main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main input{
    width: 100%;
    height: 3.1875rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: none;
}

.main fieldset:first-of-type{
    margin-bottom: 4rem;
}


/***************/
/*media queries*/
/***************/

@media (min-width: 60em) {
    main section ul {
        width: 50em;
    }

    main section form input {
        width: 50em;
    }

}